<!DOCTYPE html>
<html>
  <head>
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/impromptu.css" rel="stylesheet">
    <link href="public/css/_datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsNS9_LcLyFOwXNv_ls_tUg4bsKF-IkHc&libraries=geometry,drawing&v=3"></script>

  </head>
  <body>
    <div>
      <div class="app"></div>
      <div class="map"></div>
    </div>
  </body>

  <script src="/bundle.js"></script>
</html>
